form{
 padding: 60px;
  max-width: 400px;
  background-color: #b3e5fc;
  margin: 0 auto;
  font-family: cursive;
  color:#0a0a0a; 
  color: black; text-shadow: white 0.1em 0.1em 0.2em
}
form input{
  margin-bottom: 15px;
  font-family: sans-serif;
  width: 72%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #0a0a0a;
  background-color: #ffff;
  font-size: 1em;
  resize: horizontal; 
}
h1{
  color:#FFFFFF;
  font-size: 50;
}
p{
font: message-box;
color:#0a0a0a;
color: black; text-shadow: white 0.1em 0.1em 0.2em
}

form{
  color:#0a0a0a;
}
  a:hover{
color: white;
background: pink;
