body

a:hover{
color: white;
background: pink;
}

#div3{
float:center;
background:#b3e5fc;
width: 85%;
  min-height:1000px;
   font-family: Ink Free;

   color:#0a0a0a;
}
#div2{
float:center;
background:#b3e5fc;
width: 99%;
  min-height:400px;
   font-family: Ink Free;
    font-size:15pt;
   color:#0a0a0a;

}

h4 {
	color:#0a0a0a;
	   font-family: Ink Free;
	   font-size:15pt;
{
h3 {
	   font-family: Ink Free;
{


#mapa{
width: 432px;
height: auto;
overflow: hidden;
border: 1px solid #ccc;
padding: 5px;
float: right;
}


